# Common
BASE_URL=http://localhost:3000

# Email
MAILGUN_API_HOST=api.mailgun.net
MAILGUN_API_KEY=1749b78703334e3ca2f14d4ee78ad591-3d5a5e52-3ce541f6
MAILGUN_DOMAIN=mail.example.com
EMAIL_SENDER_NAME=InstaLink • Example
EMAIL_SENDER_ADDRESS=noreply@example.com

# Auth
ALLOWED_EMAIL_DOMAINS=example.com
JWT_SECRET=JbldaWdsSh@Q569H6B^f^a$zIz4iBh2PpOUV$7nxnK4IXp2Yy@
JWT_EXPIRATION_TIME_SECS=2592000

# Database
DATABASE_NAME
DATABASE_URL="mongodb+srv://<user>:<password>@<server>/?retryWrites=true&w=majority"
